#protected net.minecraft.block.AbstractButtonBlock func_235471_c_()I # getPressDuration() IGNORE THAT IT SAYS ITS NOT IN USE, HEAVY BUTTON BLOCK OVERRIDES IT
#protected net.minecraft.entity.ai.goal.HurtByTargetGoal field_220797_i # toIgnoreAlert
#public-f net.minecraft.entity.ai.brain.sensor.VillagerHostilesSensor field_220991_b # ACCEPTABLE_DISTANCE_FROM_HOSTILES

#public net.minecraft.data.RecipeProvider func_200407_a(Lnet/minecraft/block/Block;)Lnet/minecraft/advancements/criterion/EnterBlockTrigger$Instance; # insideOf
#public net.minecraft.data.RecipeProvider func_200403_a(Lnet/minecraft/util/IItemProvider;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # has
#public net.minecraft.data.RecipeProvider func_200409_a(Lnet/minecraft/tags/ITag;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # has
#public net.minecraft.data.RecipeProvider func_200405_a([Lnet/minecraft/advancements/criterion/ItemPredicate;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # inventoryTrigger

public net.minecraft.data.loot.EntityLootSubProvider f_244213_ # map

public net.minecraft.world.level.block.DoorBlock m_52804_(Lnet/minecraft/world/item/context/BlockPlaceContext;)Lnet/minecraft/world/level/block/state/properties/DoorHingeSide; # getHinge